{% extends 'layout.html' %}
{% block content %}
<div id='main' class="container" data-ng-controller="MenuController as menuController">
	<nav class="menu" ng-class="menuController.pushMenu">
		<div class="menu-wrap" ng-if="menuController.showingMenu">
			<h4>MENU: <button type="button" class="close pull-right" aria-label="Close" data-ng-click="menuController.showMenu()"><span aria-hidden="true">&times;</span></button></h4>

			<ul>
				<li><a href="/"> Home </a></li>
				<li><a href="/about"> About </a></li>
				<li><a href="/thesis"> Thesis </a></li>
				<li><a href="/sources"> Sources </a></li>
				<li><a href="/timeline"> Timeline </a></li>
				<li><a href="/journal"> Journal </a></li>
				<li><a href="/files"> Files </a></li>
			</ul>
		</div>
		<div id="showMenu">
			<a href="" data-ng-click="menuController.showMenu()">
				<span class="glyphicon glyphicon-th-list"></span>
			</a>
		</div>
	</nav>
</div>
<div ng-view>
</div>
{% endblock %}