<div id='main' class="container">
	<nav>
		<div class="menu-wrap">
			<ul class="nav nav-tabs">
				<li><a href="/"> Home </a></li>
				<li data-ng-repeat="item in mainController.menus"><a href="/module/{{item.id}}"> {{item.label}} </a></li>
			</ul>
		</div>
	</nav>
</div >

<div>
	<div class="banner">
		<div class="col-md-6" data-ng-repeat="(key,value) in mainController.data track by key">
			<div class="panel panel-success" data-ng-if="value.last">
				<div class="panel-heading">
					<h3 class="panel-title">{{key}}</h3>
				</div>
				<div ng-switch on="value.type">
					<div class="panel-body" ng-switch-when="time">{{value.last | date:'yyyy-MM-dd HH:mm:ss:sss'}}</div>
					<table class="table" ng-switch-when="acc">
					<thead>
						<tr>
							<th>#</th>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Age</th>
							<th>City</th>
							<th>Country</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Anna</td>
							<td>Pitt</td>
							<td>35</td>
							<td>New York</td>
							<td>USA</td>
						</tr>
					</tbody>
				</table>
				<div class="panel-body" ng-switch-default>{{value.last}}</div>
			</div>
		</div>
		<div class="panel panel-danger" data-ng-if="!value.last">
			<div class="panel-heading">
				<h3 class="panel-title">{{key}}</h3>
			</div>
			<div class="panel-body">
				NOT ACTIVE
			</div>
		</div>
	</div>
</div>
</div>
{{mainController.route | json }}
