<div id='main' class="container">
	<nav>
		<div class="menu-wrap">
			<ul class="nav nav-tabs">
				<li><a href="/"> Home </a></li>
				<li><a href="/routes"> Routes </a></li>
				<li data-ng-repeat="item in mainController.menus"><a href="/module/{{item.id}}"> {{item.label}} </a></li>
			</ul>
		</div>
	</nav>
</div >

<div>
	<div class="banner">
		<div class="col-md-6" data-ng-repeat="(key,value) in mainController.data track by key">
			<div class="panel panel-success" data-ng-if="value.last">
				<div class="panel-heading">
					<h3 class="panel-title">{{key}}</h3>
				</div>
				<div ng-switch on="value.type">
					<div class="panel-body" ng-switch-when="time">{{value.last | date:'yyyy-MM-dd HH:mm:ss:sss'}}</div>
					<div class="panel-body" ng-switch-when="gps">
						<p> Lat: {{value.last.lat}} </p>
						<p> Lon: {{value.last.lon}} </p>
						<p> Speed: {{value.last.speed}}</p>
						<p> Sats: {{value.last.sats_visible.length}}</p>
						<p> Fix: {{value.last.fix}} </p>
					</div>
					<table class="table" ng-switch-when="acc">
						<thead>
							<tr>
								<th>x</th>
								<th>y</th>
								<th>x</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{value.last.x}}</td>
								<td>{{value.last.y}}</td>
								<td>{{value.last.z}}</td>
							</tr>
						</tbody>
					</table>
				<div class="panel-body" ng-switch-default>{{value.last}}</div>
			</div>
		</div>
		<div class="panel panel-danger" data-ng-if="!value.last">
			<div class="panel-heading">
				<h3 class="panel-title">{{key}}</h3>
			</div>
			<div class="panel-body">
				NOT ACTIVE
			</div>
		</div>
	</div>
</div>
</div>
{{mainController.route | json }}
