<div id='main' class="container">
	<nav>
		<div class="menu-wrap">
			<ul class="nav nav-tabs">
				<li><a href="/"> Home </a></li>
				<li data-ng-repeat="item in mainController.menus"><a href="/module/{{item.id}}"> {{item.label}} </a></li>
			</ul>
		</div>
	</nav>
</div >

<div>
	<div class="banner">
		<div>
			<h1>{{mainController.modules[mainController.moduleName].label}}</h1>
			<div class="config">
				<h3>Configuration</h3>
				<div data-ng-repeat='(key,value) in mainController.modules[mainController.moduleName] track by key'>
					<p data-ng-if="key != 'lastData'"><b>{{key}}: </b>{{value}}</p>
				</div>
			</div>
			<div class="config">
				<h3>Last Data</h3>
				<p>{{mainController.modules[mainController.moduleName].lastData | json}}
			</div>
		</div>
	</div>
</div>

